/* header 스타일 설정 */
header {
    display:flex;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-sizing:border-box;
    height: 50px;
    padding: 10px;
    padding-left: 32rem;
    color:black;
    background-color:white;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
